body{
    text-align: center;
    margin: 5rem;
}

button {
    background-color: rgb(226, 98, 12);
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    border-color: brown;
    cursor: pointer;
}

.imageClass {
    height: 15rem;
    width: 15rem;
    text-align: center;
}

li {
    margin: 20px;
}

.list{
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex-flow: row;
}

